{% extends 'template.html.twig' %}

{% block title %}Détails de {{ famille.libelle }}{% endblock %}

{% block monTitre %}Détails de {{ famille.libelle|capitalize }}{% endblock %}

{% block content %}

    <p>Détails de la famille</p>

{% endblock %}
