{% extends 'base.html.twig' %}

{% block title %}Liste des animaux{% endblock %}

{% block monTitre %}Liste des animaux{% endblock %}

{% block body %}

    {% for animal in animaux %}
    <div class="row gx-0 align-items-center my-2">
        <div class="col-2 text-center">
            <img src="{{ asset('images/' ~ animal.image) }}" alt="image{{ animal.nom }}">
        </div>
        <div class="col-auto">
            <h2>{{ animal.nom }}</h2>
            <div>{{ animal.description }}</div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
